@using AFIAT.TST.Web.Areas.Area.Models.Layout
@using AFIAT.TST.Web.Areas.Area.Views.Shared.Components.AreaLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank" class="mt-5 brand-logo">
    @await Component.InvokeAsync(typeof(AreaLogoViewComponent), new {logoSkin = "dark-2", logoClass="max-h-35px"})
</a>
