@using AFIAT.TST.Web.Areas.Area.Models.Common
@model IFeatureEditViewModel
<div class="feature-tree">
    @await Html.PartialAsync("~/Areas/Area/Views/Common/_FeaturesTreeItem.cshtml", new FeatureTreeItemModel(Model, null))
</div>