@using Abp.Configuration
@using AFIAT.TST.Configuration
@model AFIAT.TST.Web.Areas.Area.Models.Layout.QuickThemeSelectionViewModel
@if (SettingManager.GetSettingValue<bool>(AppSettings.UserManagement.IsQuickThemeSelectEnabled))
{
    <div id="kt_demo_panel_toggle" class="topbar-item">
        <div class="@Model.CssClass">
            <i class="flaticon-interface-7"></i>
        </div>
    </div>
}
